@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;
  user-select: none;
}

canvas {
  touch-action: none;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center
  }
  .btn{
    @apply w-[5vw] h-[10vh] bg-gray-200 text-black font-semibold border-[2px] border-gray-300 shadow-lg transition duration-150 ease-in-out;
  }

  .btn:hover{
    @apply bg-yellow;
  }

  .power-btn{
    @apply w-[5vw] h-[5vh] bg-black border-[2px] border-gray-300 rounded-full
  }

  .flex-col-center{
    @apply flex-col items-center justify-center
  }

  .toggle-switch{
    @apply w-[2.5vw] h-[4.5vh]  rounded-full transition-transform duration-300 ease-in-out;
  }

  .toggle-switch-on {
    @apply translate-x-[2.2vw] bg-green-600; /* Adjust the distance as needed */
  }
  
  .toggle-switch-off {
    @apply translate-x-0 bg-blue;
  }


  .display-board{
    @apply w-[15vw] h-[5vh] bg-gray-200 border-[2px] border-gray-300
  }

  .volume-pad{
    @apply w-[15vw] h-[5px] bg-gray
  }

  .volume-button{
    @apply w-[5px] h-[4.5vh] bg-blue
  }

}